/***** Bootstrap overrides *****/
h1 { margin-top: 0px; }

.table tbody>tr>td { 
	vertical-align: middle; 
	padding: 6px; }

.table a:visited {
	color: #a9a9a9;
}

.label-new { 
	background-color: rgba(151,187,205,1); 
	font-size: 70%;    
	padding-top: 0.2em;
	padding-bottom: 0.2em; }

.page-header { margin-bottom: 40px; }

/* Chart expands too much and label is clipped; move the pager down */
.pager { margin-top: 50px; }

/* Fix the chart height so it cant grow when reloading */
.chart-container { height: 300px; }

/***** Custom styles *****/
.snapshot-title {
	margin-top: 20px;
	margin-bottom: 10px; }

.story-desc {
	color: #a9a9a9;
	font-size: 80%;
	display: table-row;
}

.story-desc a {
	color: #a9a9a9;
}