<!doctype html>
<html lang="en">

<head>
	<title>{{title}}</title>

	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- CSS -->
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
	
	<!-- JS -->
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-route/angular-route.min.js"></script>
	

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>
</body>

</html>
