<div class="page-header text-center">
	<div class="row">
		<h1>Hacker News on interval</h1>
		<p>Unofficial mirror where you can view HN front page stories collected on an interval</p>
	</div>
</div>
<div>
	<!-- Chart -->
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<canvas id="line" class="chart chart-line" 
					series="chart.series" options="chart.options"
					data="chart.data.values" labels="chart.data.labels"
			</canvas>
		</div>
		<div class="col-sm-1"></div>
	</div>

	<!-- Chart paginator -->
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<pager total-items="chart.totalItems" ng-model="chart.currentPage" align="false"></pager>
		</div>
		<div class="col-sm-3"></div>
	</div>

	<!-- TABLE -->
	<div class="row">
		<table ng-table="tableParams" class="table">
			<tr ng-repeat="story in $data">
				<td data-title="'Rank'" sortable="'rank'" class="col-xs-1">
					{{story.rank}}
				</td>
				<td data-title="'Title'" sortable="'title'" class="col-xs-10">
					<a ng-href="{{story.url}}">{{story.title}}</a>
				</td>
				<td data-title="'Score'" sortable="'score'" class="col-xs-1">
					{{story.score}}
				</td>
			</tr>
		</table>
	</div>
</div>

