<div class="page-header text-center">
	<div class="row">
		<h1>Hacker News on interval</h1>
		<p>Unofficial mirror where you can view HN front page stories collected on an interval</p>
	</div>
</div>
<div>
	<!-- Chart -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-xs-12 col-md-8">
			<canvas id="line" class="chart chart-line" legend="true"
					series="chart.series" options="chart.options"
					data="chart.data.values" labels="chart.data.labels"
					click="chart.onClick"
			</canvas>
		</div>
		<div class="col-md-2"></div>
	</div>

	<!-- Chart paginator -->
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<pager items-per-page="chart.itemsPerPage" total-items="chart.totalItems" ng-model="chart.currentPage" align="false"></pager>
		</div>
		<div class="col-sm-3"></div>
	</div>


	<!-- Table -->
	<div class="row text-center">
	    <div class="col-xs-12 snapshot-title">
			<h4>Selected snapshot: {{currentSnapshotValue}}</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
		<table ng-table="tableParams" class="table">
			<tr ng-repeat="story in $data">
				<td data-title="'Rank'" sortable="'rank'" class="col-xs-1 text-center">
					{{story.rank}}
				</td>
				<td data-title="'Story'" sortable="'title'" class="col-xs-10">
					<div>
						<a ng-href="{{story.url}}" class="label-align">{{story.title}}</a>
						<span ng-show="story.isNew" class="label label-new">New</span>
					</div>
					<div class="story-desc">
						<span am-time-ago="story.created"></span>
						by <a ng-href="{{byUrl(story.by)}}">{{story.by}}</a> | 
						<a ng-href="{{commentUrl(story.id)}}">HN comments</a>
					</div>
				</td>
				<td data-title="'Score'" sortable="'score'" class="col-xs-1 text-center">
					{{story.score}}
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>
